<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">
	
	<description>jms receiver configuration</description>
	
	<!--创建连接池-->
	<bean id="jmsReceiverFactory" class="org.apache.activemq.pool.PooledConnectionFactory" destroy-method="stop">
		<property name="connectionFactory">
			<bean class="org.apache.activemq.ActiveMQConnectionFactory">
				<property name="brokerURL" value="tcp://localhost:61616"/>
				<!-- 默认用户密码可为空
				<property name="userName" value="admin"/>
				<property name="password" value="admin"/> -->
				<property name="useAsyncSend" value="true"/>	<!-- 异步发送 -->
			</bean>
		</property>
		<property name="maxConnections" value="100"/>
	</bean>
	
	<!-- 声明ActiveMQ消息目标,目标可以是一个队列ActiveMQQueue，也可以是一个主题ActiveMQTopic；
		1）、点对点模式消息（queue），构造参数lx.spring.queue为 队列消息（点对点模式）队列服务名称 -->
	<bean id="destinationQueue" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg index="0" value="lx.spring.queue"/>
	</bean>
	<bean id="queueJmsTemplate" class="org.springframework.jms.core.JmsTemplate">
		<property name="connectionFactory" ref="jmsReceiverFactory"/>
		<property name="defaultDestination" ref="destinationQueue"/>
		<property name="deliveryMode" value="2"/>		<!-- 1：不持久化；2：持久化 -->
		<property name="pubSubDomain" value="false"/>	<!-- 区别它采用的模式为false是p2p为true是订阅 -->
	</bean>
	<bean id="consumer" class="com.lx.jms.activemq.queue.SpringQueueConsumer">
		<property name="jmsTemplate" ref="queueJmsTemplate"/>
	</bean>
	<!--异步处理点对点消息（queue消息 ）-->  
	<bean id="receive" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
	  	<property name="connectionFactory" ref="jmsReceiverFactory"></property>
	  	<property name="destinationName" value="lx.spring.queue"></property>
	  	<property name="messageListener" ref="messageListener"></property>
	  	<property name="sessionAcknowledgeMode" value="1"></property>
	  	<property name="subscriptionDurable" value="true"></property>
	  	<property name="pubSubDomain" value="false"></property>	<!-- 区别它采用的模式为false是p2p为true是订阅 -->
	  	<property name="clientId" value="client_"></property>
	  	<property name="durableSubscriptionName" value="client_"></property>
	</bean>
	
	
	<!-- 2）、订阅-发布模式消息（topic），构造参数lx.spring.topic为 topic消息（订阅发布模式）队列服务名称 -->
	<bean id="destinationTopic" class="org.apache.activemq.command.ActiveMQTopic">
		<constructor-arg index="0" value="lx.spring.topic"/>
	</bean>
	<bean id="topicJmsTemplate" class="org.springframework.jms.core.JmsTemplate">
		<property name="connectionFactory" ref="jmsReceiverFactory"/>
		<!-- 设置defaultDestinationName与设置defaultDestination二选一，只设置defaultDestinationName，则Spring会根据设置的该目标名称创建一个destination
		<property name="defaultDestinationName" ref="lx.spring.topic"/> -->
		<property name="defaultDestination" ref="destinationTopic"/>
		<property name="deliveryMode" value="2"/>		<!-- 1：不持久化；2：持久化 -->
		<property name="pubSubDomain" value="true"/>	<!-- 区别它采用的模式为false是p2p为true是订阅 -->
	</bean>
	<!-- 订阅者：阻塞式处理消息 -->
	<bean id="subscriber" class="com.lx.jms.activemq.topic.SpringTopicSubscriber">
		<property name="jmsTemplate" ref="topicJmsTemplate"/>
	</bean>
	
	<!--异步处理订阅消息 （topic消息）-->  
	<bean id="receive" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
	  	<property name="connectionFactory" ref="jmsReceiverFactory"></property>
	  	<property name="destinationName" value="lx.spring.topic"></property>
	  	<property name="messageListener" ref="messageListener"></property>
	  	<property name="sessionAcknowledgeMode" value="1"></property>
	  	<property name="subscriptionDurable" value="true"></property>
	  	<property name="pubSubDomain" value="true"></property>	<!-- 区别它采用的模式为false是p2p为true是订阅 -->
	  	<property name="clientId" value="client_"></property>
	  	<property name="durableSubscriptionName" value="client_"></property>
	</bean>
	
	<!-- 异步接受消息————消息监听器 -->
	<bean id="messageListener" class="org.springframework.jms.listener.adapter.MessageListenerAdapter">  
        <property name="delegate" ref="delegate"></property>  
        <property name="defaultListenerMethod" value="onMessage"></property>  
        <!-- <property name="messageConverter" ref="jmsConverter"></property> -->
        <property name="sessionAcknowledgeMode" value="1"></property>
    </bean>
    
    <!-- 消息转换器 -->
    <!-- <bean id="jmsConverter" class="com.lx.jms.activemq.convert.JmsConverter"></bean> -->
</beans>
