<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">
	
	<description>jms 消息发接收 配置（含点对点模式（queue消息）、订阅-发布模式（topic消息））</description>
	
	<!--创建连接池-->
	<bean id="jmsReceiverFactory" class="org.apache.activemq.pool.PooledConnectionFactory" destroy-method="stop">
		<property name="connectionFactory">
			<bean class="org.apache.activemq.ActiveMQConnectionFactory">
				<property name="brokerURL" value="tcp://localhost:61616"/>
				<!-- 默认用户密码可为空
				<property name="userName" value="admin"/>
				<property name="password" value="admin"/> -->
				<property name="useAsyncSend" value="true"/>	<!-- 异步发送 -->
			</bean>
		</property>
		<property name="maxConnections" value="100"/>
	</bean>
	
	
	<!-- #####################	点对点模式消息	##################### -->
	
	<!-- 1、点对点模式消息（queue）
			构造一个名称为lx.spring.queue的queue消息队列 -->
	<bean id="destinationQueue" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg index="0" value="lx.spring.queue"/>
	</bean>
	
	<bean id="queueJmsTemplate" class="org.springframework.jms.core.JmsTemplate">
		<property name="connectionFactory" ref="jmsReceiverFactory"/>
		<!-- 设置defaultDestinationName与设置defaultDestination二选一，只设置defaultDestinationName，则Spring会根据设置的该目标名称创建一个destination
		<property name="defaultDestinationName" ref="lx.spring.queue"/> -->
		<property name="defaultDestination" ref="destinationQueue"/>
		<property name="deliveryMode" value="2"/>				<!-- 1：不持久化；2：持久化 -->
		<property name="pubSubDomain" value="false"/>			<!-- 区别它采用的模式为false是p2p为true是订阅 -->
		<property name="messageConverter" ref="jmsConverter"/>	<!-- 未在jmsTemplate中注册自定义的messageConverter时，jmsTemplate内置默认使用SimpleMessageConverter作为消息转换器； -->
	</bean>
	
	<!-- 方式1：阻塞式处理消息，自己通过jmsTemplate提供的接口同步接收处理消息 -->
	<bean id="consumer" class="com.lx.jms.activemq.queue.SpringQueueConsumer">
		<property name="jmsTemplate" ref="queueJmsTemplate"/>
	</bean>
	
	<!-- 方式2：异步式处理消息，自己通过注入自定义的消息处理监听器来异步消费处理消息 -->
	<bean id="receiveQueueMsg" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
	  	<property name="connectionFactory" ref="jmsReceiverFactory"></property>
	  	<property name="destinationName" value="lx.spring.queue"></property>
	  	<property name="sessionAcknowledgeMode" value="1"></property>
	  	<property name="pubSubDomain" value="false"></property>	<!-- 区别它采用的模式为false是p2p为true是订阅 -->
	  	<property name="subscriptionDurable" value="true"></property>
	  	<property name="messageListener" ref="messageListener"></property>
	  	<property name="clientId" value="client_spring_"></property>
	  	<property name="durableSubscriptionName" value="client_spring_"></property>
	</bean>
	
	
	<!-- #####################	订阅-发布模式消息		##################### -->
	
	<!-- 2、订阅-发布模式消息（topic）
			构造一个名称为lx.spring.topic的topic消息队列 -->
	<bean id="destinationTopic" class="org.apache.activemq.command.ActiveMQTopic">
		<constructor-arg index="0" value="lx.spring.topic"/>
	</bean>
	
	<!-- 方式1：阻塞式处理消息，自己通过jmsTemplate提供的接口同步接收处理消息 -->
	<bean id="topicJmsTemplate" class="org.springframework.jms.core.JmsTemplate">
		<property name="connectionFactory" ref="jmsReceiverFactory"/>
		<!-- 设置defaultDestinationName与设置defaultDestination二选一，只设置defaultDestinationName，则Spring会根据设置的该目标名称创建一个destination
		<property name="defaultDestinationName" ref="lx.spring.topic"/> -->
		<property name="defaultDestination" ref="destinationTopic"/>
		<property name="deliveryMode" value="2"/>				<!-- 1：不持久化；2：持久化 -->
		<property name="pubSubDomain" value="true"/>			<!-- 区别它采用的模式为false是p2p为true是订阅 -->
		<property name="messageConverter" ref="jmsConverter"/>	<!-- 未在jmsTemplate中注册自定义的messageConverter时，jmsTemplate内置默认使用SimpleMessageConverter作为消息转换器； -->
	</bean>
	<bean id="subscriber" class="com.lx.jms.activemq.topic.SpringTopicSubscriber">
		<property name="jmsTemplate" ref="topicJmsTemplate"/>
	</bean>
	
	<!-- 方式2：异步式处理消息，自己通过注入自定义的消息处理监听器来异步消费处理消息 -->
	<bean id="receiveTopicMsg" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
	  	<property name="connectionFactory" ref="jmsReceiverFactory"></property>
	  	<property name="destinationName" value="lx.spring.topic"></property>
	  	<property name="sessionAcknowledgeMode" value="1"></property>
	  	<property name="pubSubDomain" value="true"></property>	<!-- 区别它采用的模式为false是p2p为true是订阅 -->
	  	<property name="subscriptionDurable" value="true"></property>
	  	<property name="messageListener" ref="messageListener"></property>
	  	<property name="clientId" value="client_spring_"></property>
	  	<property name="durableSubscriptionName" value="client_spring_"></property>
	</bean>
	
	
	<!-- #####################	公共部分（自定义消息转换器、自定义异步接收处理消息监听器）	##################### -->
	
	<!-- 异步接受消息————消息监听器 -->
	<bean id="messageListener" class="org.springframework.jms.listener.adapter.MessageListenerAdapter">  
        <property name="delegate" ref="delegate"></property>
        <property name="defaultListenerMethod" value="onMessage"></property>
        <property name="messageConverter" ref="jmsConverter"></property>
    </bean>
    
    <!-- 消息处理 -->
    <bean id="delegate" class="com.lx.jms.activemq.listener.JmsBusinessProcess"></bean>
    
	<!-- 消息转换器 -->
    <bean id="jmsConverter" class="com.lx.jms.activemq.convert.CustomJmsConverter"></bean>
	<!-- spring 内置默认的消息转换器，在未在jmsTemplate中注册自定义的messageConverter时，jmsTemplate内置默认使用SimpleMessageConverter作为消息转换器；
    	支持转换处理的消息类型： TextMessage、BytesMessage、MapMessage、MapMessage、ObjectMessage（转换的对象需要实现Serializable）
	<bean id="defaultMessageConverter" class="org.springframework.jms.support.converter.SimpleMessageConverter"></bean> -->
</beans>
